.updatee{
   
   width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
}

.scroll{
    height: 85vh;
    overflow-y: auto;
}

.card{
    display: flex;
   
}

.delete{
    cursor: pointer;
    color: red;
  
}
.update{
    color: green;
   
}


.adds{
    width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}